@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(57, 177, 42);
  --secondary-color-dark: rgb(35, 123, 23);
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: 'Open Sans', sans-serif
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-tarefa {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container input {
  font-size: 18px;
  padding: 9px 9px;
  border: 0.5px solid #757575;
  border-radius: 8px;
}

.container button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin-left: 6px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 8px 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.container button:hover {
  background-color: var(--secondary-color-dark);
  transition: 0.3s;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

ul li .apagar { 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  background-color: rgb(231, 61, 61);
  color: var(--primary-color);
}

ul li .apagar:hover {
  background-color: rgb(190, 47, 47);
  transition: 0.3s;
}

ul li {
  margin-top: 2px;
  padding: 4px;
}
